<nav>
  <ul class="nav {{include.navclass}}">
    <li><a href="{{site.baseurl}}/index.html" class="{% if page.url contains index.html %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/timeline.html" class="{% if page.url contains 'at-home' or page.url contains 'in-new-york' or page.url contains 'timeline'%}current{% endif %}">Timeline</a></li>
    <li><a href="{{site.baseurl}}/pictures.html" class="{% if page.url contains 'pictures.html'%}current{% endif %}">Pictures</a></li>
  </ul>
</nav>
